* {
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
}
body {
  background-color: white;
}
p {
  font-size: 30px;
  color: rgb(50, 50, 50);
  margin: 0;
}
.container {
  margin: auto;
}
.board {
  display: none;
  border: 3px solid rgb(105, 177, 193);
  position: fixed;
  top: 20%;
  left: 35%;
  background-color: rgb(99, 99, 99);
}
.ttt {
  border: 1px solid rgb(117, 117, 117);
  display: inline-block;
  width: 32%;
  height: 50px;
  padding: 70px 20px 50px 20px;
  vertical-align: top;
  margin-bottom: 4px;
  position: relative;
  background-color: rgba(230, 230, 230, 1);
}
.top {
  margin-top: 4px;
}

.left {
  margin-left: 4px;
}
.ttt span {
  font-size: 100px;
  position: absolute;
  left: 22%;
  bottom: 10%;
  line-height: 100px;
  color: rgb(131, 183, 190);
}
.intro {
  position: fixed;
  top: 30%;
  left: 28%;
  /*border: 5px solid rgb(142, 203, 197);
  background-color: white;
  padding: 1em;*/
}
.introtext {
  border-bottom: 3px solid rgb(142, 203, 197);
}
.greeting {
  padding-left: 7em;
  margin-bottom: 1em;
  border-bottom: 5px solid rgb(142, 203, 197);
}
.yesno {
  padding-left: 5.6em;
  margin-top: 1em;
  border-bottom: 1px solid rgb(142, 203, 197);
}
.no {
  padding-left: 6em;
}
.end {
  border-bottom: 3px solid rgb(142, 203, 197);
  position: fixed;
  top: 13%;
  left: 35%;
}
.esc {
  position: fixed;
  top: 82%;
  left: 35%;
  font-size: 16px;
  border-bottom: 1px solid rgb(142, 203, 197);
}
.stat {
  padding-left: 7.4em;
  font-size: 20px;
  font-weight: bold;
  color: rgb(131, 183, 190);
}
